*.cubemap filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
Milestone[[:space:]]Build/TheWoods_AngryGophers.zip filter=lfs diff=lfs merge=lfs -text
Milestone[[:space:]]Build filter=lfs diff=lfs merge=lfs -text
Milstone[[:space:]]Build/AngryGophers_TheWoods_AlphaBuild.zip
 filter=lfs diff=lfs merge=lfs -text
Milestone[[:space:]]Build/AngryGophers_TheWoods_AlphaBuild.zip filter=lfs diff=lfs merge=lfs -text
Milestone[[:space:]]Build/Beta[[:space:]]Builds filter=lfs diff=lfs merge=lfs -text
